/* -- Mr Site Std Template -- */
/* -- me117 - Swoosh ----*/

/* ----------------------------- Template reset - */
body{margin:0;padding:0;}div.tabatha_wrap{width:840px;margin:0 auto;}.clear{clear:both;margin:0;padding:0;}#mainheader_wrap{width:850px;height:150px;margin:0 auto;padding:0;overflow:hidden;}.tabclear{clear:both;margin:0;padding:0;height:1%;}.hidden{display:none;margin:0;padding:0;}

/* ----------------------------- Typography - */
body					{font-family:Arial, Helvetica, sans-serif; font-size:12px; }
p						{}
h1						{}
h2						{}
h3						{}
h4						{}
h5						{}
h6						{}

/* ----------------------------- Template colours - */
body, body p			{color:#70BEFF;}
a:link					{color:#C7EAFE; text-decoration:underline;}
a:visited				{color:#C7EAFE; text-decoration:underline;}
a:active				{color:#C7EAFE; text-decoration:underline;}
a:hover					{color:#C7EAFE; text-decoration:underline;}
#footer a:link			{color:#C7EAFE; text-decoration:underline;}
#footer a:visited		{color:#C7EAFE; text-decoration:underline;}
#footer a:active		{color:#C7EAFE; text-decoration:underline;}
#footer a:hover			{color:#C7EAFE; text-decoration:underline;}
#pageSynopsis,
#pageSynopsis p				{color:#C7EAFE;}

/* ----------------------------- Template variants - */
body {background:url("../images/repeater.gif") #0D161D top repeat-x; padding: 25px 10px 15px 10px;}

#mainHeader1 {height: 150px;padding: 0;margin: 0;background: url("../images/1header.jpg") top no-repeat; }


/* ----------------------------- Widget variants - */
input#searchText {color:#000;}
div#widgetdiv {margin:0px; padding:0px;}
div.sitewidget {padding:0px; border-top:1px solid #1f3446;}
div.sitewidget h4		{font-size:14px; font-weight:bold; margin:10px 0px 8px; padding:0px;}

/* ----------------------------- Template Structure - */




#mainFrame {
	width: 850px; 
	padding: 0;
	margin-left: auto;
	margin-right: auto;
		voice-family: "\"}\""; 
		voice-family:inherit;
		width:850px;
}


html>body #mainFrame {
	width:850px;
}

#mainHeader1 {height: 150px;padding: 0;margin: 0;background: url("../images/1header.jpg") top no-repeat; }


.hidden {display:none; margin:0; padding:0;}	/* this stops IE6 from not displaying the shop */

#mainheader_wrap {width:850px; height:150px; margin:0 auto; padding:0; overflow:hidden;}

#mainWrapper {
	padding: 0;
	margin: 15px 0 10px 0;
}


#navColumn {
	background: url("../images/navTopper.gif") top no-repeat;	
	float: right;
	width: 230px;
	padding: 0;
	margin: 10px 5px 0 5px;
}


#mainColumn {
	float: left;
	width: 580px;
	padding: 0 10px 0 10px;
	margin: 10px 0 10px 0;
	text-align: left;
}

/*---------------------------------------------------------------------------------
Global Items
---------------------------------------------------------------------------------*/

#pageSynopsis {
	padding: 0 10px 10px 10px;
	margin: 5px 0 10px 0;
	text-align: left;		
	color: #85DEFF;
}

#pageSynopsis p {	
	font-size: 15px;
	font-family: Lucida Grande, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#footer {
	background: url("../images/footerRepeater.gif") top repeat-x;	
	padding: 40px 0 10px 0;
	text-align: center;
	font-family: Lucida Grande, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.clear {
	height: 0;
	width: 0;
	line-height: 0;
	clear: both;
	font-size: 0;
}




/* ----== Standard SideBar Nav CSS ==---- */
/*
#navbar ul {margin:0; padding:0;}
#navbar {width:100%;}
#navbar li a {text-decoration: none; display: block; padding:8px 0 0 10px;}	
#navbar li a:link, #navbar li a:visited {display: block;}
#navbar li a span {display:block;}
#navbar li ul li, #navbar li ul, #navbar li ul li a {border:0;}
#navbar li ul li a span {margin-left:10px;}
*/
/* ----== /Standard SideBar Nav CSS ==---- */

/* ----== Mr Site Template Blog Style ==---- */
.post-title {color:#70BEFF;}
.post-title {border:1px dotted #85DEFF;}
.post {border:1px dotted #85DEFF;}
.post-body {border:1px dotted #85DEFF;}
p.post-footer {border:1px dotted #85DEFF;}
/* ----== /Mr Site Template Blog Style ==---- */

/* ----== Forum styles ==---- */
table.ForumTable {background:#ffffff; border-color#000;}
div.ThreadContainer {background:#ffffff; border-color:#000;}
div.ThreadContainer_NewTopic {border-color:#000;}
div.FooterContainer_Inner {background:#fff;border-color:#000;}
div.FooterContainer_Credits {border-bottom:1px solid #000;padding:5px;text-align:left;}
div.FooterContainer_Actions {border-color:#000;}
p.FooterCopy {text-align:center;font-size:14px;}
body.forum p {color: #70BEFF;}
body.forum a {color: #85DEFF;}
/* ----== /Forum styles ==---- */


/* ----== Page Expansion ==---- */
body.expand div#mainColumn {width:840px; border:0;}
body.expand div#navColumn {display:none;}
body.expand div#shop {width:580px;}
/* ----== /Page Expansion ==---- */

/* ----== Site Layout ==---- */
/* Menu Left */
body.menuleft div#navColumn {float:left;}
body.menuleft div#mainColumn {float:right;}

/* Menu Right */
body.menuright div#navColumn {float:right;}
body.menuright div#mainColumn {float:left;}

/* ----== /Site Layout ==---- */

/* ----== Mr Site Latest Gallery ==---- */
div.latestGallery {}
div.latestGallery a {color:#85DEFF;}
/* ----== /Mr Site Latest Gallery ==---- */

/* ----== Twitter ==---- */
p.profileLink a {color: #fff;}
ul#twitter_update_list li a {color: #85DEFF;}
ul#twitter_update_list li span a {color: #85DEFF;}
/* ----==/Twitter ==---- */

/* ----== Form Creator ==---- */
form.myform input, 
form.myform textarea, 
input.input_captcha {}
	form.myform legend, 
	form.myform label {font-weight:bold;}
span.description {}
input.submit_myform {}
/* ----== /Form Creator ==---- */



/* ----== Contemporary Layout ==---- */
/* Side Division */
div#shop div.float-left {float:left; width:470px; display:inline-block; position:relative;}
div#shop div.float-right {float:right; width:100px; display:inline-block; position:relative;}

/* Standard Online Shop (Contemporary) */
div.standardCart.float-left {float:right; margin:0px 10px 10px 0px; display:inline-block; position:relative;}
div.standardCart.float-right {float:left; width:470px; margin:0px; display:inline-block; position:relative;}

div#shop_item.noimages div.standardCart.float-left {width:580px; margin:0px 0px 10px 0px; display:inline-block; position:relative;}

/* Pro Online Shop (Contemporary) */
div.proCart.float-left {float:left; width:470px; margin:0px; display:inline-block; position:relative;}
div.proCart.float-right {float:right; margin:0px 0px 10px 10px; display:inline-block; position:relative;}
/* ----== /Contemporary Layout ==---- */


/* ----==  User styles ==---- */
#shop {border-bottom:1px solid #222222;}
#shop .float-left .item_options .quantity select,
#shop .float-left .item_options .options select,
#shop .float-left .item_options .colour input {border-color:#222222;}
#shop .float-left .item_options {background:#4f4f4f; border-color:#222222;}

div#shop {border-bottom:0px;}

/* ----== Winter Release Widgets ==---- */	

/* ----== Mailing List ==---- */	
input.mailinglistemail{border:1px #eaeaea solid; background:#fff; color:#000;}
input.mailinglistButton{background:#131e26; color:#70beff;}
input.mailinglistButton.hover_button{background:#70beff; color:#131e26;}
/* ----== Mailing List ==---- */	

/* ----== Mini Cart ==---- */	
a.minicart_checkoutbutton {text-decoration:none;background:#131e26; color:#70beff; border:0px;}
a.minicart_checkoutbutton:hover {background:#70beff; color:#131e26;}
a.minicart_checkoutbutton {height:19px; overflow:hidden; padding:17px 40px 15px 20px; text-shadow:#ffffff 0px 1px 0px;background:url("../images/proceed_to_checkout.gif") transparent no-repeat top right; color:#202020;display:block; position:relative; cursor:pointer; float:right; clear:right; text-decoration:none; font-size:12px; line-height:15px; letter-spacing:-0.1pt; word-spacing:0pt; font-style:normal; text-transform:none; text-decoration:none;}
a.minicart_checkoutbutton:hover {background:url("../images/proceed_to_checkout.gif") transparent no-repeat bottom right; color:#202020;}
/* ----== Mini Cart ==---- */

/* ----== Google/Froogle Search ==---- */	
input#searchText.GoogleSearch {border:1px #eaeaea solid; background:#fff ;}
input#searchText.FroogleSearch {border:1px #eaeaea solid; background:#fff url("http://mrsite.co.uk/web_assets/images/icons/search/froogle_custom_search.jpg") no-repeat 0 0;}

input.searchResultsButton {background:#131e26; color:#70beff;}
input.searchResultsButton.hover_button {background:#70beff; color:#131e26;}

/* ----== Google/Froogle Search ==---- */

