/* ----== Mr Site Forum ==---- */
table.ForumTable 
	{
		background:#ffffff; 
		border:1px solid #000; 
		padding:5px; 
		margin:0 auto;
	}
div.ThreadContainer 
	{
		background:#ffffff; 
		width:850px;
		border:1px solid #000; 
		padding:0px; 
		margin:0 auto;
	}
div.ThreadContainer_NewTopic 
	{
		border-bottom:1px solid #000; 
		text-align:center;
		padding:5px;
	}
div.ThreadContainer_ThreadList 
	{
		padding:0px; 
		padding-right:20px;
		text-align:left;
	}
div.FooterContainer 
	{
		width:850px;
		margin-left:auto;
		margin-right:auto;
	}
div.FooterContainer_Inner 
	{
		background:#fff;
		border:1px solid #000;
		padding:0px;
		width:850px;
		margin:0 auto;
	}
div.FooterContainer_Credits 
	{
		border-bottom:1px solid #000;
		padding:5px;
		text-align:left;
	}
div.FooterContainer_ThreadList 
	{
		padding:5px;
		text-align:left;
	}
div.FooterContainer_Actions 
	{
		border-top:1px solid #000;
		padding:5px;
		text-align:left;
	}
p.FooterCopy 
	{
		text-align:center;
		font-size:14px;
	}
/* ----== /Mr Site Forum ==---- */