/* ----== Mr Site Userpoll ==---- */
input.submitUserPoll 
	{
		
		padding:3px; 
		border:1px solid #666; 
		background:#fff; 
		margin: 3px 0 0 0;
	}
	div.sitewidget.userpoll div.pollInner
		{
			margin:10px 0 0 0;
		}


table.UserPollTable {margin:0px 0px 5px 0px; padding:0px;}
table.UserPollTable td {vertical-align:middle;}
/* ----== /Mr Site Userpoll ==---- */