/* ----== Mr Site Guestbook style ==---- */
.gbook_jmessage-bubble 
	{
		width:100%; 
		display:inline-block;
		border:1px solid #c9c2c1; 
		background:#fff;
	}
	.gbook_jmessage-bubble .inner 
		{
			padding:10px; 
			color:#686868;
		}
	.gbook_jpost-bubble 
		{
			width:100%; 
			display:inline-block; 
			padding:5px;
			margin-bottom:20px; 
			background:url("images/tip.gif") no-repeat 20px 0; 
			margin-top:-1px;
		}
		.gbook_jpost-bubble .comment 
			{
				width:50%; 
				text-align:left;  
				float:left; 
				font-size:14px; 
				padding:5px 0 0 0; 
				color:#202020;
			}
		.gbook_jpost-bubble .time 
			{
				width:50%; 
				text-align:right; 
				float:right; 
				font-size:11px; 
				color:#202020;
			}	
/* ----== /Mr Site Guestbook style ==---- */